body {
    margin: 20px auto;
    background-color: #1e4886;
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.icon {
    color: #fff;
    text-align: center;
}

.icon i {
    font-size: 70px;
    transform: .5s;
}

.icon p {
    font-size: 35px;
    opacity: 0;
    transition: .5s;
}

.icon:hover i {
    transform: translateY(-20px) scale(.5);
}

.icon:hover p {
    transform: translateY(-60px);
    opacity: 1;
}